@charset "utf-8";
#wrap {
  position: relative;
  min-width: 1440px;
}
#header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#h_in {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo a {
  display: inline-block;
  width: 150px;
  background-image: url(../img/volvo-logo.webp);
  background-position: center;
  background-size: 160px 170px;
  text-indent: -9999px;
  opacity: 0.85;
}
.gnb > ul {
  display: flex;
}
.gnb > ul > li {
  padding: 0 25px;
}
.gnb > ul > li > a {
  display: block;
  padding: 25px 0;
  color: #222;
  font-weight: 600;
  font-size: 22px;
}
.gnb > ul > li:hover > a {
  color: #0f9bd3;
}
/* 헤더 gnb */
.gnb .depth2 {
  display: none;
  position: absolute;
  top: 71px;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 10;
}
.gnb .depth2 > ul {
  display: flex;
  width: 1280px;
  margin: 0 auto;
}
.gnb .depth2 > ul > li {
  width: 33.33%;
  padding: 20px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.gnb .depth2 > ul > li > a {
  display: block;
  margin-bottom: 25px;
  font-size: 23px;
  font-weight: 600;
  color: #222;
}
.gnb .depth3 li {
  margin-bottom: 10px;
}
.gnb .depth3 li:hover a {
  color: #0f9bd3;
}
.gnb .depth3 li a {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}
.h_icon ul {
  display: flex;
}
.u_icon {
  position: relative;
}
.u_icon > a,
.s_icon > a,
.m_icon > a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  text-indent: -9999px;
  background-position: center;
}
.h_icon .u_icon > a {
  background-image: url(../img/h-icon-user.webp);
  background-size: 35px 35px;
}
.h_icon .s_icon > a {
  background-image: url(../img/h-icon-search.webp);
}
.h_icon .m_icon > a {
  background-image: url(../img/h-icon-menu.webp);
}

/* 헤더 아이콘 유저 */
.user .u_list {
  display: none;
  position: absolute;
  top: 55px;
  right: -40px;
  width: 130px;
  text-align: center;
  background-color: #fff;
  z-index: 10;
}
.il1 a::after,
.il2 a::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: 1px solid #333;
  border-right: 1px solid #333;
  transform: rotate(45deg);
}
.il1 a,
.il2 a {
  display: inline-block;
  padding: 10px;
  margin-bottom: 5px;
  line-height: 30px;
  color: #333;
}
/* 헤더 아이콘 햄버거 메뉴 */
.m_wrap {
  display: none;
  position: fixed;
  top: 71px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  overflow-x: auto;
  overflow-y: scroll;
  background-color: #eeeeee;
}
.mw_all {
  position: relative;
  width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.mw_all > ul {
  display: block;
}
.mw_all > ul > li {
  display: flex;
}
.mw_all .depth2 > ul {
  display: flex;
}
.mw_all .depth3 {
  display: block;
}
.mw_close {
  position: absolute;
  top: 8px;
  right: 25px;
  width: 32px;
  height: 32px;
}
.mw_close::before,
.mw_close::after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  right: 15px;
  width: 1px;
  height: 27px;
  background-color: #222;
}
.mw_close::before {
  transform: rotate(45deg);
}
.mw_close::after {
  transform: rotate(-45deg);
}
.mw_all .search {
  margin: 100px auto;
  display: flex;
  align-items: center;
  width: 700px;
  border-bottom: 1px solid #333;
}
.mw_all .search input {
  width: 100%;
  height: 50px;
  padding: 0 50px;
  border: none;
  outline: none;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #333;
  background-color: #eeeeee;
}
.mw_all .search input::placeholder {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.mw_all .search .search_icon img {
  width: 35px;
  height: 35px;
}
.mw_all .m_box {
  margin-bottom: 100px;
  background-color: #474747;
}
.mw_all .m_box ul {
  display: flex;
  justify-content: space-around;
}
.mw_all .m_box ul li {
  margin: 0 10px;
}
.mw_all .m_box ul li a {
  display: block;
  padding: 20px 30px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
}
.mw_all .m_box ul li a:hover {
  color: #0f9bd3;
}
.m_menu .wrap {
  margin: 100px 0;
}
.m_menu .wrap::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}
.m_menu .model_list {
  display: flex;
  margin: 20px 0;
}
.m_menu .wrap .title {
  font-size: 35px;
  font-weight: 700;
  line-height: 1em;
  margin: 30px 0;
}
.m_menu .wrap .model_list .ml_title {
  font-size: 20px;
  font-weight: 600;
  flex: 1 1 15%;
  margin: 20px 0;
}
.model_list ul {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 70%;
}
.model_list ul li {
  margin: 20px;
}
.model_list ul li a {
  color: #555;
  font-size: 15px;
  font-weight: 500;
}
/* 메인 영역 */
.main_slide {
  position: relative;
  overflow: hidden;
}
.ms_wrap {
  position: relative;
}
.main_img {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 150px;
  margin-top: 71px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.main_img > a > img {
  width: 100%;
}
.main_img_txt {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80px;
  left: 240px;
}
.main_img_txt .txt1 {
  font-size: 65px;
  font-weight: 600;
  margin-bottom: 50px;
  line-height: 1em;
  text-shadow: 1px 1px #fff;
  color: #222;
}
.main_img_txt .txt2 {
  font-size: 25px;
  font-weight: 500;
  text-shadow: 1px 1px #fff;
  color: #222;
}
.main_img_txt .st1 {
  transform: translateX(50px) translateY(35px);
  font-size: 100px;
  font-weight: 800;
  line-height: 1em;
  color: #fff;
}
.main_img_txt .st2 {
  transform: translateX(100px);
  font-size: 60px;
  font-weight: 600;
  line-height: 1em;
  color: rgb(0, 15, 62);
  z-index: 10;
}
.main_img_txt .st3 {
  transform: translateY(-45px);
  font-size: 150px;
  font-weight: 800;
  line-height: 1em;
  color: #ffffffb9;
}
.main_img_txt .txt {
  margin-top: 50px;
  font-size: 25px;
  font-weight: 600;
  line-height: 1em;
  color: rgb(255, 255, 255, 0.9);
}
.main_img_txt .txt_box {
  margin-top: 50px;
  border: 1px solid #fff;
  padding: 13px 20px;
}
.main_img_txt .txt_box span {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
}
.ma_left,
.ma_right {
  position: absolute;
  top: 40%;
  width: 50px;
  height: 50px;
  border-top: 2px solid #222;
  border-left: 2px solid #222;
  text-indent: -9999px;
  cursor: pointer;
}
.ma_left {
  left: 30px;
  transform: rotate(-45deg);
}
.ma_right {
  right: 30px;
  transform: rotate(135deg);
}
.ma_btn {
  position: absolute;
  bottom: 180px;
  right: calc(50% - 70px);
  width: 140px;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
.ma_stop,
.ma_start {
  width: 20px;
  height: 20px;
  background-size: 100% auto;
  margin-right: 10px;
  cursor: pointer;
}
.ma_stop {
  background-image: url(../img/btn-pause.svg);
}
.ma_start {
  display: none;
  background-image: url(../img/btn-play.svg);
}
.slick-dots {
  display: flex;
}
.slick-dots li {
  margin: 0 5px;
}
.slick-dots li button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-indent: -9999px;
  background-color: #ccc;
}
.slick-dots .slick-active button {
  background-color: rgba(0, 0, 0, 0.3);
}
#section1 {
  margin-bottom: 231px;
}
#s1_in {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.s1_text {
  text-align: center;
  margin-bottom: 35px;
}
.s_title {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 25px;
}
.s_txt,
.s_age a {
  font-size: 17px;
  color: #666;
  font-weight: 500;
}
.s_txt {
  margin-bottom: 10px;
}
.s_age span {
  margin-right: 15px;
}
.s_age .all a {
  color: #0f9bd3;
}
.lank {
  position: relative;
  display: flex;
  align-items: end;
}
.lank li {
  margin-right: 26px;
}
.l_img {
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.l_img a img {
  transition: 0.3s;
}
.l_img a:hover img {
  transform: scale(1.1);
  opacity: 0.7;
}
.l_img a:hover .l_img_txt,
.l_img a:hover .l_img_txt_s {
  display: block;
}
.l_img_txt {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 100%;
  text-align: center;
  display: none;
  color: #222;
  text-shadow: 1px 1px #fff;
  font-size: 35px;
  font-weight: 600;
}
.l_img_txt_s {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 100%;
  text-align: center;
  display: none;
  color: #222;
  text-shadow: 1px 1px #fff;
  font-size: 15px;
  font-weight: 600;
}
.lank_1st .l_txt {
  position: absolute;
  top: 10px;
  left: 671px;
}
.l_txt a span {
  font-size: 40px;
}
.lank .l_txt {
  padding-top: 20px;
}
.lank .l_txt a {
  color: #222;
  font-size: 20px;
  font-weight: 700;
}
.lank .l_txt a .name {
  display: block;
  margin-top: 20px;
}
#icon_list {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
}
#icon_list ul {
  display: flex;
  margin-left: calc(50% - 250px);
}
#icon_list li {
  margin-left: 25px;
  margin-right: 25px;
}
#icon_list li a {
  color: #222;
  font-size: 18px;
  font-weight: 500;
  padding: 60px 10px 10px 10px;
  background-repeat: no-repeat;
  background-position: center top 10px;
  transition: 0.2s;
}
#icon_list .il_est a {
  background-image: url(../img/nav-icon-car.webp);
}
#icon_list .il_cons a {
  background-image: url(../img/nav-icon-document.webp);
}
#icon_list .il_test a {
  background-image: url(../img/nav-icon-steeringwheel.webp);
}
#icon_list .il_map a {
  background-image: url(../img/nav-icon-map.webp);
}
#icon_list .il_est a:hover {
  background-color: rgba(116, 116, 116, 0.1);
}
#icon_list .il_cons a:hover {
  background-color: rgba(116, 116, 116, 0.1);
}
#icon_list .il_test a:hover {
  background-color: rgba(116, 116, 116, 0.1);
}
#icon_list .il_map a:hover {
  background-color: rgba(116, 116, 116, 0.1);
}
#section2 {
  margin-bottom: 150px;
}
#s2_in {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
#s2_in ul {
  display: flex;
  justify-content: space-between;
}
#s2_in li {
  position: relative;
}
.s2_img {
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.s2_img img {
  transition: 0.3s;
}
.s2_img:hover img {
  transform: scale(1.1);
  opacity: 0.8;
}
.s2_img:hover .s2_img_txt_1,
.s2_img:hover .s2_img_txt_2 {
  display: block;
}
.s2_img_txt_1,
.s2_img_txt_2 {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 100%;
  text-align: center;
  display: none;
  color: #222;
  text-shadow: 1px 1px #fff;
  font-size: 35px;
  font-weight: 600;
}
.s2_img_txt_1 {
  color: #fff;
  text-shadow: 1px 1px #222;
}
.s2_txt1,
.s2_txt2 {
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: 17px;
  font-weight: 600;
  padding-left: 10px;
}
.s2_txt1 {
  color: #fff;
  text-shadow: 1px 1px #222;
}
.s2_txt2 {
  color: #222;
  text-shadow: 1px 1px #fff;
}
.s2_txt1 span,
.s2_txt2 span {
  display: block;
  margin-bottom: 20px;
}
#section3 {
  margin-bottom: 150px;
}
#s3_in {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.s3_text {
  text-align: center;
  margin-bottom: 35px;
}
.event ul {
  display: flex;
  justify-content: space-between;
}
.event li {
  width: 464px;
}
.e_img {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.e_img img {
  transition: 0.3s;
}
.e_img:hover img {
  transform: scale(1.1);
  opacity: 0.8;
}
.e_img:hover .e_img_txt {
  display: block;
}
.e_img_txt {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 100%;
  text-align: center;
  display: none;
  color: #222;
  text-shadow: 1px 1px #fff;
  font-size: 25px;
  font-weight: 600;
}
.e_txt1 {
  color: #222;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4em;
  margin-bottom: 10px;
}
.e_txt2,
.e_txt3 {
  color: #888;
  font-size: 15px;
}
.e_txt2 {
  margin-bottom: 30px;
}
#footer {
  background-color: #181818;
}
#f_in {
  position: relative;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 55px;
  padding-bottom: 55px;
  background-color: #181818;
}
.f_txt {
  color: #888;
  margin-bottom: 40px;
}
.f_txt1 span,
.f_txt2 span {
  margin-right: 13px;
  font-weight: 400;
  font-size: 13px;
}
.f_txt1 .point {
  color: #fff;
  font-size: 14px;
}
.f_txt1,
.f_txt2 {
  margin-bottom: 15px;
}
.f_txt3 {
  margin-bottom: 10px;
}
.f_txt4 {
  font-size: 10px;
}
.f_icon_list {
  position: absolute;
  top: 60px;
  right: 0;
}
.f_icon_list ul {
  display: flex;
  align-items: center;
}
.f_icon_list li {
  margin-left: 20px;
}
.f_icon_list li a {
  display: inline-block;
  text-indent: -9999px;
  background-image: url(../img/footer-ico.webp);
  background-size: 30px auto;
}
.f_icon_list .fi1 a {
  width: 18px;
  height: 18px;
  background-position: -6px -6px;
}
.f_icon_list .fi2 a {
  width: 21px;
  height: 14px;
  background-position: -5px -38px;
}
.f_icon_list .fi3 a {
  width: 10px;
  height: 17px;
  background-position: -10px -97px;
}
.f_icon_list .fi4 a {
  width: 16px;
  height: 18px;
  background-position: -7px -126px;
}
.f_icon_list .fi5 a {
  width: 18px;
  height: 19px;
  background-position: -6px -156px;
}
.f_icon_list .fi6 a {
  width: 24px;
  height: 21px;
  background-position: -3px -184px;
}
.f_icon_list .fi7 a {
  width: 22px;
  height: 23px;
  background-position: -3px -214px;
}
.f_more {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 100px;
  right: 0;
  width: 270px;
  border: 1px solid #999;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 2px;
}
.f_more p {
  color: #999;
  line-height: 28px;
  text-align: left;
  font-size: 14px;
}
.down {
  margin-top: 12px;
  width: 0;
  height: 0;
  border-top: 5px solid #999;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  text-indent: -9999px;
}
.f_award::before {
  content: "";
  display: block;
  width: 1120px;
  height: 1px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: #99999938;
}
.f_award ul {
  display: flex;
  flex-wrap: wrap;
}
.f_award li {
  margin-right: 30px;
  color: #999;
  background-repeat: no-repeat;
  padding-left: 40px;
  width: 170px;
  font-size: 12px;
}
.fa1 {
  background-image: url(../img/footer-mark01.webp);
}
.fa2 {
  background-image: url(../img/footer-mark02.webp);
}
.fa3 {
  background-image: url(../img/footer-mark03.webp);
}
.fa4 {
  background-image: url(../img/footer-mark04.webp);
}
.fa5 {
  background-image: url(../img/footer-mark05.webp);
}
.fa6 {
  background-image: url(../img/footer-mark06.webp);
}
.fa7 {
  background-image: url(../img/footer-mark07.webp);
}
